[submodule "dxsdk"]
	path = dxsdk
	url = https://github.com/apitrace/dxsdk.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "Detours"]
	path = Detours
	url = https://github.com/kkots/Detours.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/kkots/libpng.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/kkots/imgui.git
